<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <style>
    html {
    position: relative;
          min-height: 100%;
        }
        body {
          margin-bottom: 60px; /* Margin bottom by footer height */
        }
        .footer {
          position: absolute;
          bottom: 0;
          width: 100%;
          height: 60px; /* Set the fixed height of the footer here */
          line-height: 60px; /* Vertically center the text there */
          text-align: center;
          background-color: #f5f5f5;
        }
 </style>

</head>

<body>

    <div style="position: absolute; background-color: black; width: 120px; height: 30px; line-height: 30px; text-align: center; top: 90px;">
        <div class="container">
        <a href="/home" style="color: white;">Powrót</a>
    </div>
    </div>
<!-- 
    <ng-container *ngFor="let competence of competencies | filter : searchText">
    <div *ngIf="competence.Level > 0" class="card"  routerLink="/competence/{{competence.Id}}">
      <h4 class="card-title">{{competence.Name | uppercase}}</h4>
      <div class="card-body">
        <img class="card-img-top" [src]="'assets/' +  competence.Picture" />
        <h6 class="card-title" [ngClass]="{'competence_low': competence.Level < 3, 'competence_high': competence.Level > 3}">Poziom: {{competence.Level}}</h6>
        <p class="card-text" *ngIf="competence.Description.trim().length > 0">Opis: {{competence.Description}}</p>
      </div>
    </div>
  </ng-container> -->

    <div class="d-flex justify-content-center" style="margin-top: 80px;" *ngFor="let flashcard of flashcards | filter : searchText">
        <div>
        <div class="card" style="width:400px; height: 250px;">
          <div class="card-body">
            <h5 class="card-title">{{flashcard.title | uppercase}}</h5>
            <p class="card-text">{{flashcard.description}}</p>
          </div>
        </div>
        <div class="d-flex justify-content-center" style="margin-top: 10px;">
            <button type="button" class="btn btn-success" style="margin-right: 30px; width:150px;">Zapamiętane</button>
            <button type="button" class="btn btn-danger" style="width: 150px;">Na później</button>
        </div>
      </div>
    </div>

<footer class="footer">
    <div class="container">
      <a href="/about">O nas</a>
    </div>
    </footer>
</body>
