<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

  <style>
#card{
  margin-top: 40px;}

  html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 60px; /* Margin bottom by footer height */
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  text-align: center;
  background-color: #f5f5f5;
}
.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }
  </style>
</head>

<body>
  
  <div class="d-flex justify-content-center mt-5">
  <div class="row">
    <div class="col-sm-4">
      <div class="card box-shadow" style="width:300px;">
        <div class="card-body">
          <h5 class="card-title">Temat 1</h5>
          <p class="card-text">cośtam</p>
          <a [routerLink]="['/flashcard']" [state]="{name:'animals'}" class="btn btn-primary">fiszki</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card box-shadow" style="width: 300px;">
        <div class="card-body">
          <h5 class="card-title">temat2</h5>
          <p class="card-text">angielski</p>
          <a href="/flashcard" class="btn btn-primary">fiszki</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card box-shadow" style="width: 300px;">
        <div class="card-body">
          <h5 class="card-title">temat3</h5>
          <p class="card-text">słowa dużo </p>
          <a href="/flashcard" class="btn btn-primary">fiszki</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" style="margin-top: 40px;">
  <div class="row">
    <div class="col-sm-4">
      <div class="card box-shadow" style="width:300px;">
        <div class="card-body">
          <h5 class="card-title">temart4</h5>
          <p class="card-text">temat1</p>
          <a href="/flashcard" class="btn btn-primary">fiszki</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card box-shadow" style="width: 300px;">
        <div class="card-body">
          <h5 class="card-title">temat2</h5>
          <p class="card-text">temat2</p>
          <a href="/flashcard" class="btn btn-primary">fiszki</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="card box-shadow" style="width: 300px;">
        <div class="card-body">
          <h5 class="card-title">temat2</h5>
          <p class="card-text">temat2</p>
          <a href="/flashcard" class="btn btn-primary">fiszki</a>
        </div>
      </div>
    </div>
  </div>
</div>


<footer class="footer">
<div class="container">
  <a href="/about">O nas</a>
</div>
</footer>


</body>
